<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=" 
          http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
          http://www.springframework.org/schema/tx 
          http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context-4.0.xsd 
          http://www.springframework.org/schema/aop 
          http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!--注解说明 -->
	<context:annotation-config />
	<!-- 把标记了@Controller注解的类转换为bean -->
	<context:component-scan base-package="cn.godzilla" >
		<context:exclude-filter type="regex" expression="cn.godzilla.web.*"/>
		<context:exclude-filter type="regex" expression="cn.godzilla.service.*"/>
	</context:component-scan>
	
	<context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true" />
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close"> 
	    <property name="url" value="${jdbc.url}" />
	    <property name="username" value="${jdbc.username}" />
	    <property name="password" value="${jdbc.password}" />
	    <property name="filters" value="stat" />
	    <property name="maxActive" value="10" />
	    <property name="initialSize" value="1" />
	    <property name="maxWait" value="60000" />
	    <property name="minIdle" value="1" />
	    <property name="timeBetweenEvictionRunsMillis" value="60000" />
	    <property name="minEvictableIdleTimeMillis" value="300000" />
	    <property name="validationQuery" value="SELECT 'x'" />
	    <property name="testWhileIdle" value="true" />
	    <property name="testOnBorrow" value="false" />
	    <property name="testOnReturn" value="false" />
	    <property name="poolPreparedStatements" value="true" />
	    <property name="maxPoolPreparedStatementPerConnectionSize" value="10" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:mapperLocations="cn\\godzilla\\dao\\*Mapper.xml"
	/>
	         
	<bean id="mapperScanerConfig" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.godzilla.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<bean id="dataSourceTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="clientConfigService" class="cn.godzilla.service.impl.ClientConfigServiceImpl" />
	<bean id="funRightService" class="cn.godzilla.service.impl.FunRightServiceImpl" />
	<bean id="mvnService" class="cn.godzilla.service.impl.MvnServiceImpl" />
	<bean id="operateLogService" class="cn.godzilla.service.impl.OperateLogServiceImpl" />
	<bean id="projectService" class="cn.godzilla.service.impl.ProjectServiceImpl" />
	<bean id="propConfigService" class="cn.godzilla.service.impl.PropConfigServiceImpl" />
	<bean id="svnBranchConfigService" class="cn.godzilla.service.impl.SvnBranchConfigServiceImpl" />
	<bean id="svnService" class="cn.godzilla.service.impl.SvnServiceImpl" />
	<bean id="userService" class="cn.godzilla.service.impl.UserServiceImpl" />

	<import resource="classpath:spring-redis.xml"/>
</beans>