<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.ClientConfigMapper" >

  
  <sql id="queryColumns">id, project_code as projectCode, profile, 
      remote_ip as remoteIp, status, 
      deploy_version as deployVersion,
      tomcat_password as tomcatPassword, 
      tomcat_username as tomcatUsername,
      tomcat_port as tomcatPort,
      tomcat_need_plugin as tomcatNeedPlugin </sql>
  <select id="queryDetail" resultType="cn.godzilla.model.ClientConfig" parameterType="java.util.Map">
  	select <include refid="queryColumns" /> from client_config where project_code = #{projectCode} and profile = #{profile} and status = 1
  </select>
  
  <update id="updateDeployversion" parameterType="java.util.Map">
  	update client_config set
  		deploy_version = #{deploy_version}
  	where project_code = #{project_code}
  		and profile = #{profile}
  		and status = 1
  </update>
</mapper>