<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.ClientConfigMapper" >

  
  <sql id="queryColumns">id, project_code as projectCode, profile, 
      remote_ip as remoteIp, status</sql>
  <select id="queryDetail" resultType="cn.godzilla.model.ClientConfig" parameterType="java.util.Map">
  	select <include refid="queryColumns" /> from t_g_client_config where project_code = #{projectCode} and profile = #{profile} and status = 0
  </select>
  
</mapper>