<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.MvnCmdLogMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.MvnCmdLog" >
    
    <result column="id" property="id" jdbcType="DECIMAL" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="commands" property="commands" jdbcType="VARCHAR" />
    <result column="result_info" property="resultInfo" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="selectColumns">id,user_name as userName,project_code as projectCode,
  	create_time as createTime ,commands ,result_info as resultInfo,profile
  </sql>
  <insert id="insert" parameterType="cn.godzilla.model.MvnCmdLog" >
   
    insert into t_g_maven_command_logs (id, user_name, project_code, 
      create_time, commands, result_info, profile
      )
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{commands,jdbcType=VARCHAR}, #{resultInfo,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.godzilla.model.MvnCmdLog" >
    
    insert into t_g_maven_command_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="commands != null" >
        commands,
      </if>
      <if test="resultInfo != null" >
        result_info,
      </if>
      <if test="profile != null" >
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commands != null" >
        #{commands,jdbcType=VARCHAR},
      </if>
      <if test="resultInfo != null" >
        #{resultInfo,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="queryList" resultType="cn.godzilla.model.MvnCmdLog" >
  		select 
	<include refid="selectColumns"/>
	from t_g_maven_command_logs order by id limit 100
  </select>
</mapper>