<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.OperateLog" >

    <result column="id" property="id" jdbcType="DECIMAL" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="commands" property="commands" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="operate_code" property="operateCode" jdbcType="INTEGER" />
    <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP" />
    <result column="execute_result" property="executeResult" jdbcType="INTEGER" />
    
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.godzilla.model.OperateLog" extends="BaseResultMap" >
    
    <result column="result_info" property="resultInfo" jdbcType="LONGVARCHAR" />
    <result column="deploy_log" property="deployLog" jdbcType="LONGVARCHAR" />
    <result column="war_info" property="warInfo" jdbcType="LONGVARCHAR" />
    <result column="catalina_log" property="catalinaLog" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    result_info
  </sql>
  <insert id="insert" parameterType="cn.godzilla.model.OperateLog" >
    
    insert into operate_logs (id, user_name, real_name, project_code, 
      profile, client_ip, sort, commands, operation, operate_code, execute_time, 
      execute_result, result_info, deploy_log, war_info, catalina_log)
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, 
      #{profile,jdbcType=VARCHAR},  #{clientIp,jdbcType=VARCHAR},#{sort,jdbcType=VARCHAR},#{commands,jdbcType=VARCHAR},#{operation,jdbcType=VARCHAR},#{operateCode,jdbcType=INTEGER}, now(), 
      #{executeResult,jdbcType=INTEGER}, #{resultInfo,jdbcType=LONGVARCHAR}
      , #{deployLog,jdbcType=LONGVARCHAR}, #{warInfo,jdbcType=LONGVARCHAR}, #{catalinaLog,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="cn.godzilla.model.OperateLog" >
    insert into operate_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="profile != null" >
        profile,
      </if>
      <if test="clientIp != null" >
        client_ip,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="commands != null" >
        commands,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="operateCode != null" >
        operate_code,
      </if>
        execute_time,
      <if test="executeResult != null" >
        execute_result,
      </if>
      <if test="resultInfo != null" >
        result_info,
      </if>
      <if test="deployLog != null" >
        deploy_log,
      </if>
      <if test="warInfo != null" >
        war_info,
      </if>
      <if test="catalinaLog != null" >
        catalina_log,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="commands != null" >
        #{commands,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="operateCode != null" >
        #{operateCode,jdbcType=INTEGER},
      </if>
        now(),
      <if test="executeResult != null" >
        #{executeResult,jdbcType=INTEGER},
      </if>
      <if test="resultInfo != null" >
        #{resultInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="deployLog != null" >
        #{deployLog,jdbcType=LONGVARCHAR},
      </if>
      <if test="warInfo != null" >
        #{warInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="catalinaLog != null" >
        #{catalinaLog,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <sql id="queryColumns">id, user_name as userName, real_name as realName, project_code as projectCode, 
      profile, operation,client_ip as clientIp, sort, commands, operate_code as operateCode, execute_time executeTime, 
      execute_result executeResult, result_info resultInfo, deploy_log deployLog, war_info warInfo, catalina_log as catalinaLog
      </sql>
      
      <select id="queryList" resultType="cn.godzilla.model.OperateLog" parameterType="java.util.Map">
      	select 
      		<include refid="queryColumns" /> 
      		from operate_logs where project_code = #{projectCode} and profile = #{profile} 

			<if test="username != null" >
      		and user_name = #{username} 
      		</if>
			and sort = 'operate' order by id desc limit 20
      </select>
      
      <select id="queryAll" resultType="cn.godzilla.model.OperateLog" parameterType="java.util.Map">
      	select 
      		<include refid="queryColumns" /> 
      		from operate_logs
      				where id &lt; #{id} 
      				<if test="user_name != null" >
      				and  user_name = #{username}
      				</if>

 			and sort = 'operate' 
      		  order by id desc limit 20
      </select>
  <select id="queryLogById" resultType="cn.godzilla.model.OperateLog" parameterType="java.lang.Integer">
  	select 
  		<include refid="queryColumns" />
  		from operate_logs
  			where id = #{id}
  </select>
  <update id="updateLogById" parameterType="cn.godzilla.model.OperateLog">
  	update operate_logs
  	set 
      <if test="userName != null" >
        user_name = #{userName},
      </if>
      <if test="realName != null" >
        real_name= #{realName},
      </if>
      <if test="projectCode != null" >
        project_code= #{projectCode},
      </if>
      <if test="profile != null" >
        profile = #{profile},
      </if>
      <if test="clientIp != null" >
        client_ip = #{clientIp},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="commands != null" >
        commands = #{commands},
      </if>
      <if test="operation != null" >
        operation = #{operation},
      </if>
      <if test="operateCode != null" >
        operate_code = #{operateCode},
      </if>
      <if test="executeResult != null" >
        execute_result = #{executeResult},
      </if>
      <if test="resultInfo != null" >
        result_info = #{resultInfo},
      </if>
      <if test="deployLog != null" >
        deploy_log = #{deployLog},
      </if>
      <if test="warInfo != null" >
        war_info = #{warInfo},
      </if>
      <if test="catalinaLog != null" >
        catalina_log = #{catalinaLog},
      </if>
      execute_time = now()
      where id = #{id}
  </update>
</mapper>