<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.OperateLog" >

    <result column="id" property="id" jdbcType="DECIMAL" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
    <result column="operate_code" property="operateCode" jdbcType="INTEGER" />
    <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP" />
    <result column="execute_result" property="executeResult" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.godzilla.model.OperateLog" extends="BaseResultMap" >
    
    <result column="result_info" property="resultInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    result_info
  </sql>
  <insert id="insert" parameterType="cn.godzilla.model.OperateLog" >
    
    insert into t_g_operate_logs (id, user_name, project_code, 
      profile, operate_code, execute_time, 
      execute_result, result_info)
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, 
      #{profile,jdbcType=VARCHAR}, #{operateCode,jdbcType=INTEGER}, #{executeTime,jdbcType=TIMESTAMP}, 
      #{executeResult,jdbcType=INTEGER}, #{resultInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.godzilla.model.OperateLog" >
    insert into t_g_operate_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="profile != null" >
        profile,
      </if>
      <if test="operateCode != null" >
        operate_code,
      </if>
      <if test="executeTime != null" >
        execute_time,
      </if>
      <if test="executeResult != null" >
        execute_result,
      </if>
      <if test="resultInfo != null" >
        result_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="operateCode != null" >
        #{operateCode,jdbcType=INTEGER},
      </if>
      <if test="executeTime != null" >
        #{executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executeResult != null" >
        #{executeResult,jdbcType=INTEGER},
      </if>
      <if test="resultInfo != null" >
        #{resultInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <sql id="queryColumns">id, user_name as userName, project_code as projectCode, 
      profile, operate_code as operateCode, execute_time executeTime, 
      execute_result execiteResult, result_info resultInfo
      </sql>
      
      <select id="queryList" resultType="cn.godzilla.model.OperateLog">
      	select 
      		<include refid="queryColumns" /> 
      		from t_g_operate_logs order by id limit 100
      </select>
  
</mapper>