<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.ProjStatusMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.ProjStatus" >

    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="current_status" property="currentStatus" jdbcType="INTEGER" />
    <result column="process_rate" property="processRate" jdbcType="INTEGER" />
    <result column="operate_staff" property="operateStaff" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="result_info" property="resultInfo" jdbcType="LONGVARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="cn.godzilla.model.ProjStatus" >

    insert into t_g_project_status (id, project_code, current_status, 
      process_rate, operate_staff, create_time, 
      update_time, finish_time, result_info,profile
      )
    values (#{id,jdbcType=BIGINT}, #{projectCode,jdbcType=VARCHAR}, #{currentStatus,jdbcType=INTEGER}, 
      #{processRate,jdbcType=INTEGER}, #{operateStaff,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{resultInfo,jdbcType=LONGVARCHAR},#{profile,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.godzilla.model.ProjStatus" >
   
    insert into t_g_project_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="currentStatus != null" >
        current_status,
      </if>
      <if test="processRate != null" >
        process_rate,
      </if>
      <if test="operateStaff != null" >
        operate_staff,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="resultInfo != null" >
        result_info,
      </if>
       <if test="profile != null" >
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="currentStatus != null" >
        #{currentStatus,jdbcType=INTEGER},
      </if>
      <if test="processRate != null" >
        #{processRate,jdbcType=INTEGER},
      </if>
      <if test="operateStaff != null" >
        #{operateStaff,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultInfo != null" >
        #{resultInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <sql id="queryColumns">id ,project_code as projectCode ,current_status as currentStatus ,process_rate as processRate ,operate_staff as operateStaff ,create_time as createTime ,
  	update_time as updateTime ,finish_time as finishTime ,result_info as resultInfo ,profile
  </sql>
  <select id="queryDetail" parameterType="java.util.Map" resultType="cn.godzilla.model.ProjStatus">
  	select 
  		<include refid="queryColumns" />
  		from t_g_project_status where project_code = #{projectCode} and operate_staff = #{operateStaff} and profile = #{profile}
  </select>
  
  <update id="update" parameterType="cn.godzilla.model.ProjStatus">
  	update t_g_project_status set
  	<trim suffixOverrides=",">
      <if test="currentStatus != null" >
        current_status = #{currentStatus},
      </if>
      <if test="processRate != null" >
        process_rate = #{processRate},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime},
      </if>
      <if test="resultInfo != null" >
        result_info = #{resultInfo},
      </if>
	</trim>
		where id = #{id} 
  </update>
  
</mapper>