<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.Project" >
    
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="repository_url" property="repositoryUrl" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="cn.godzilla.model.Project" >
   
    insert into t_g_project (id, project_code, project_name, 
      repository_url, create_by, manager, 
      status)
    values (#{id,jdbcType=BIGINT}, #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{repositoryUrl,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.godzilla.model.Project" >
    
    insert into t_g_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="repositoryUrl != null" >
        repository_url,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryUrl != null" >
        #{repositoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByProCode" parameterType="cn.godzilla.model.Project">
	update t_g_project set
	<trim suffixOverrides=",">
		
		<if test="projectCode != null">
			project_code = #{projectCode,jdbcType=VARCHAR},
		</if>
		<if test="projectName != null">
			project_name = #{projectName,jdbcType=VARCHAR},
		</if>
		<if test="repositoryUrl != null">
			repository_url = #{repositoryUrl,jdbcType=VARCHAR},
		</if>
		<if test="createBy != null">
			create_by = #{createBy,jdbcType=VARCHAR},
		</if>
		<if test="manager != null">
			manager = #{manager,jdbcType=VARCHAR},
		</if>
		<if test="status != null">
			status = #{status,jdbcType=INTEGER},
		</if>
	</trim>
	where project_code = #{projectCode}
</update>

<sql id="query">
	id, project_code as projectCode, project_name as projectName, 
    repository_url as repositoryUrl, create_by as createBy, manager, status
</sql>
<select id="qureyByProCode" resultType="cn.godzilla.model.Project" parameterType="String">
	select 
	<include refid="query"/>
	from t_g_project where project_code = #{projectCode}
</select>

<select id="queryAll" resultType="cn.godzilla.model.Project" parameterType="String">
	select 
	<include refid="query"/>
	from t_g_project where status = 0
</select>
</mapper>