<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.Project" >
    
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="svn_conflict_id" property="svnConflictId" jdbcType="BIGINT"/>
    <result column="merge_status" property="mergeStatus" jdbcType="VARCHAR" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="repository_url" property="repositoryUrl" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="checkout_path" jdbcType="VARCHAR" property="checkoutPath" />
    <result column="web_path" jdbcType="VARCHAR" property="webPath" />
    <result column="lib_path" jdbcType="VARCHAR" property="libPath" />
    <result column="war_name" jdbcType="VARCHAR" property="warName" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="svn_username" jdbcType="VARCHAR" property="svnUsername" />
    <result column="svn_password" jdbcType="VARCHAR" property="svnPassword" />
  </resultMap>
  
  <insert id="insert" parameterType="cn.godzilla.model.Project" >
   
    insert into project (id, svn_conflict_id, merge_status,
    	project_code, project_name, 
      repository_url, create_by, manager, 
      status, checkout_path, web_path,lib_path, war_name,
    version, svn_username, svn_password)
    values (#{id,jdbcType=BIGINT}, #{svnConflictId, jdbcType=VARCHAR}, #{mergeStatus, jdbcType=VARCHAR},
    	#{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{repositoryUrl,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{checkoutPath,jdbcType=VARCHAR},#{webPath,jdbcType=VARCHAR},
      #{libPath,jdbcType=VARCHAR},
      #{warName,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR})
      , #{svnUsername,jdbcType=VARCHAR})
      , #{svnPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.godzilla.model.Project" >
    
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="svnConflictId != null">
      	svn_conflict_id, 
      </if>
      <if test="mergeStatus != null">
      	merge_status,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="repositoryUrl != null" >
        repository_url,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="checkoutPath != null">
        checkout_path,
      </if>
      <if test="webPath != null">
        web_path,
      </if>
      <if test="libPath != null">
        lib_path,
      </if>
      <if test="warName != null">
        war_name,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="svnUsername != null">
        svnUsername,
      </if>
      <if test="svnPassword != null">
        svnPassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="svnConflictId != null">
      	#{svnConflictId,jdbcType=BIGINT},
      </if>
      <if test="mergeStatus != null">
      	#{mergeStatus != null,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryUrl != null" >
        #{repositoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="checkoutPath != null">
        #{checkoutPath,jdbcType=VARCHAR},
      </if>
      <if test="webPath != null">
        #{webPath,jdbcType=VARCHAR},
      </if>
      <if test="libPath != null">
        #{libPath,jdbcType=VARCHAR},
      </if>
      <if test="warName != null">
        #{warName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="svnUsername != null">
        #{svnUsername,jdbcType=VARCHAR},
      </if>
      <if test="svnPassword != null">
        #{svnPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="queryProjectsByUsername" parameterType="string" resultMap="BaseResultMap">
  	select p.id, p.svn_conflict_id, p.merge_status,
  	p.project_code, p.project_name, 
      p.repository_url, p.create_by, p.manager,  p.status, p.checkout_path, p.web_path,
      p.lib_path,p.war_name,
    p.version , p.svn_username, p.svn_password
     from project p
     left join function_right r on p.project_code = r.project_code
     
     where r.user_name = #{username} and r.status = 1 and p.status = 1
  </select>
  
  <update id="updateByProCode" parameterType="cn.godzilla.model.Project">
	update project set
	<trim suffixOverrides=",">
		<if test="svnConflictId != null">
			svn_conflict_id = #{svnConflictId, jdbcType=VARCHAR},
		</if>
		<if test="mergeStatus != null">
			merge_status = #{mergeStatus, jdbcType=VARCHAR},
		</if>
		<if test="projectCode != null">
			project_code = #{projectCode,jdbcType=VARCHAR},
		</if>
		
		<if test="projectName != null">
			project_name = #{projectName,jdbcType=VARCHAR},
		</if>
		<if test="repositoryUrl != null">
			repository_url = #{repositoryUrl,jdbcType=VARCHAR},
		</if>
		<if test="createBy != null">
			create_by = #{createBy,jdbcType=VARCHAR},
		</if>
		<if test="manager != null">
			manager = #{manager,jdbcType=VARCHAR},
		</if>
		<if test="status != null">
			status = #{status,jdbcType=INTEGER},
		</if>
		<if test="checkoutPath != null">
        checkout_path = #{checkoutPath,jdbcType=VARCHAR},
      </if>
      <if test="webPath != null">
        web_path = #{webPath,jdbcType=VARCHAR},
      </if>
      <if test="libPath != null">
        lib_path = #{libPath,jdbcType=VARCHAR},
      </if>
      <if test="warName != null">
        war_name = #{warName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="svnUsername != null">
        svn_username = #{svn_username,jdbcType=VARCHAR},
      </if>
      <if test="svnPassword != null">
        svn_password = #{svn_password,jdbcType=VARCHAR},
      </if>
	</trim>
	where project_code = #{projectCode}
</update>

<sql id="query">
	id, svn_conflict_id as svnConflictId, merge_status as mergeStatus, 
	project_code as projectCode, project_name as projectName, 
    repository_url as repositoryUrl, create_by as createBy, manager, status, checkout_path as checkoutPath, 
    web_path as webPath, lib_path as libPath, war_name as warName,
    version, svn_username as svnUsername, svn_password as svnPassword
</sql>
<select id="qureyByProCode" resultType="cn.godzilla.model.Project" parameterType="String">
	select 
	<include refid="query"/>
	from project where project_code = #{projectCode} and status = 1
</select>

<select id="queryAll" resultType="cn.godzilla.model.Project" parameterType="String">
	select 
	<include refid="query"/>
	from project where status = 1
</select>

<update id="updateProjectById" parameterType="java.util.Map">
	update project set
	<trim suffixOverrides=",">
		<if test="repositoryUrl != null">
			repository_url = #{repositoryUrl,jdbcType=VARCHAR},
		</if>
		<if test="checkoutPath != null">
        checkout_path = #{checkoutPath,jdbcType=VARCHAR},
      </if>
      <if test="webPath != null">
        web_path = #{webPath,jdbcType=VARCHAR},
      </if>
      <if test="libPath != null">
        lib_path = #{libPath,jdbcType=VARCHAR},
      </if>
      <if test="warName != null">
        war_name = #{warName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="svnUsername != null">
        svn_username = #{svnUsername,jdbcType=VARCHAR},
      </if>
      <if test="svnPassword != null">
        svn_password = #{svnPassword,jdbcType=VARCHAR},
      </if>
	</trim>
	where id = #{projectId} 
</update>
<update id="updateVersionByProjectcode" parameterType="java.util.Map">
	update project set
        version = #{version,jdbcType=VARCHAR}
	where project_code = #{project_code}
		and status = 1
</update>
	<update id="updateMergestatusByProjectcode" parameterType="java.util.Map">
		update project set 
			merge_status = #{merge_status, jdbcType=VARCHAR}
			<if test="svn_conflict_id != null">
			, svn_conflict_id = #{svn_conflict_id, jdbcType=VARCHAR}
			</if>
			where project_code = #{project_code}
			and status = 1
	</update>

</mapper>