<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.PropConfigMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.PropConfig" >
   
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="bill_id" property="billId" jdbcType="BIGINT" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
    <result column="pro_key" property="proKey" jdbcType="VARCHAR" />
    <result column="pro_value" property="proValue" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="last_value" property="lastValue" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="auditor_text" property="auditorText" jdbcType="VARCHAR" />
    <result column="index_order" property="indexOrder" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="cn.godzilla.model.PropConfig" >
    
    insert into properties_config (id, bill_id, project_code, profile, 
      pro_key, pro_value, remark, 
      create_by, create_time, update_time, 
      last_value, status, auditor, 
      auditor_text, index_order)
    values (#{id,jdbcType=DECIMAL},#{billId,jdbcType=DECIMAL}, #{projectCode,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR}, 
      #{proKey,jdbcType=VARCHAR}, #{proValue,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, now(), #{updateTime,jdbcType=TIMESTAMP}, 
      #{lastValue,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{auditor,jdbcType=VARCHAR}, 
      #{auditorText,jdbcType=VARCHAR}, #{indexOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="cn.godzilla.model.PropConfig" >
   
    insert into properties_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	<if test="billId != null">
    	bill_id,
    	</if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="profile != null" >
        profile,
      </if>
      <if test="proKey != null" >
        pro_key,
      </if>
      <if test="proValue != null" >
        pro_value,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
        create_time,
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="lastValue != null" >
        last_value,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditorText != null" >
        auditor_text,
      </if>
       index_order
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billId != null" >
        #{billId,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="proKey != null" >
        #{proKey,jdbcType=VARCHAR},
      </if>
      <if test="proValue != null" >
        #{proValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
       now(),
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastValue != null" >
        #{lastValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorText != null" >
        #{auditorText,jdbcType=VARCHAR},
      </if>
       0
    </trim>
  </insert>
  <sql id="queryColumns">id,bill_id, project_code as projectCode, profile, 
      pro_key as proKey, pro_value as proValue, remark, 
      create_by as createBy, create_time as createTime, update_time as updateTime, 
      last_value as lastValue, status, auditor, 
      auditor_text as auditorText, index_order as indexOrder</sql>
  <sql id="queryMaxColumns">max(id) as id, max(bill_id),max(project_code) as projectCode, max(profile) as profile, 
      max(pro_key) as proKey, max(pro_value) as proValue, max(remark) as remark, 
      max(create_by) as createBy, max(create_time) as createTime, max(update_time) as updateTime, 
      max(last_value) as lastValue, max(status) as status, max(auditor) as auditor, 
      max(auditor_text) as auditorText, max(index_order) as indexOrder</sql>
  <select id="queryDetailById" parameterType="long" resultType="cn.godzilla.model.PropConfig">
  	select <include refid="queryColumns" /> from properties_config where id = #{id} 
	order by index_order , id 
  </select>
  <select id="queryDetailByKey" parameterType="java.util.Map" resultType="cn.godzilla.model.PropConfig">
  	select <include refid="queryColumns" /> from properties_config where project_code = #{projectCode} and profile = #{profile} and pro_key = #{proKey}
  	order by index_order , id 
  </select>
  <select id="queryList" parameterType="java.util.Map" resultType="cn.godzilla.model.PropConfig">
  	select <include refid="queryColumns" /> from properties_config where project_code = #{projectCode} and profile = #{profile}
  	
  	  <if test="status != null" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="auditor != null" >
        and auditor = #{auditor,jdbcType=VARCHAR}
      </if>
      order by index_order , id 
  	
  </select>
  
  <select id="queryListByProjectcodeAndProfile" parameterType="java.util.Map" resultType="cn.godzilla.model.PropConfig">
  	select <include refid="queryColumns" /> from properties_config 
  	where project_code = #{projectCode} and profile = #{profile}
  	and status = 1
  	order by index_order , id 
  	
  </select>
  
  <update id="update">
  	update properties_config set 
  	<trim suffixOverrides="," >
      <if test="proValue != null" >
        pro_value = #{proValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
        update_time = now(),
      <if test="lastValue != null" >
        last_value = #{lastValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorText != null" >
        auditor_text = #{auditorText,jdbcType=VARCHAR},
      </if>
  	</trim>
  	where id =  #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updatePropByProkey"  parameterType="java.util.Map" >
  	update properties_config set 
  	
  	pro_value = #{pro_value},
  	last_value = #{pro_value_old},
  	update_time = now(),
  	status = 0
  	
  	where pro_key =  #{pro_key} 
  	and project_code = #{project_code}
  	and profile = #{profile}
  </update>
  
  <update id="changeStatusByNewverify"  parameterType="java.util.Map" >
update properties_config a 
left JOIN properties_config b on a.pro_key = b.pro_key and a.project_code = b.project_code and a.profile = b.profile
				set a.status = 3
					where b.project_code = #{project_code}  and b.profile = #{profile} and a.status = 1 and b.create_by = #{create_by}  and b.status = 0;
  </update>
  
   <update id="updatePropLastValue"  parameterType="java.util.Map" >
  	update properties_config set 
  	
  	last_value = #{last_value},
  	update_time = now()
  	
  	where id =  #{id} 
  </update>
  
  <update id="updatePropIndex" parameterType="java.util.Map" >
  	update properties_config set 
  		index_order = #{index_order},
  		update_time = now()
  		
  	where id = #{id}
  </update>
   <update id="verifyOKProp"  parameterType="java.util.Map" >
  	update properties_config set 
  	
  	auditor = #{auditor},
  	auditor_text = #{auditor_text},
  	update_time = now(),
  	status = #{status}
  	
  	where 
  	project_code = #{project_code}
  	and profile = #{profile}
  	and create_by = #{create_by}
  	and status = 0
  </update>
  <update id="verifyNOProp" parameterType="java.util.Map" >
  	update properties_config set
  	
  	auditor = #{auditor},
  	auditor_text = #{auditor_text},
  	update_time = now(),
  	status = #{status}
  	
  	where bill_id = #{id} and status = 0
  </update>
  
  <update id="updatePropStatusById" parameterType="java.util.Map">
  	update properties_config set
  		status = #{status}
  	where
  		id = #{id}
  </update>
  
  <update id="updatePropLastValueAndStatusById" parameterType="java.util.Map">
  	update properties_config set
  		last_value = #{last_value},
  		auditor = #{auditor},
	  	auditor_text = #{auditor_text},
	  	update_time = now(),
	  	status = #{status}
  	where
  		id = #{id}
  </update>
  
  <select id="queryByProjectcodeAndCreatebyAndProfile" parameterType="java.util.Map" resultType="cn.godzilla.model.PropConfig">
  	select <include refid="queryColumns" /> from properties_config 
  	where status = #{status} 
  	<if test="project_code != ''" >
        and project_code = #{project_code} 
      </if>
      <if test="profile != ''" >
        and profile = #{profile} 
      </if>
      <if test="create_by != '' and create_by != null" >
        and create_by = #{create_by} 
      </if>
      order by index_order , id
  </select>
  
  <select id="queryByProjectcodeAndCreatebyAndProfileAndBillid" parameterType="java.util.Map" resultType="cn.godzilla.model.PropConfig">
  	select <include refid="queryColumns" /> from properties_config
  	where status = #{status} 
  	<if test="billId != '' and billId != null" >
        and bill_id = #{billId} 
      </if>
  	<if test="project_code != ''" >
        and project_code = #{project_code} 
      </if>
      <if test="profile != ''" >
        and profile = #{profile} 
      </if>
      <if test="create_by != '' and create_by != null" >
        and create_by = #{create_by} 
      </if>
      order by index_order , id
  
  </select>
  
  <select id="queryByProjectcodeAndCreatebyAndProfileGroupBy" parameterType="java.util.Map" resultType="cn.godzilla.model.PropConfig">
  	select <include refid="queryMaxColumns" /> from properties_config 
  	where status = #{status} 
  	<if test="project_code != ''" >
        and project_code = #{project_code} 
      </if>
      <if test="profile != ''" >
        and profile = #{profile} 
      </if>
      <if test="create_by != '' and create_by != null" >
        and create_by = #{create_by} 
      </if>
      
      group by project_code, profile, create_by
      order by index_order , id 
  </select>
  
</mapper>