<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.SvnChangeLogMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.SvnChangeLog" >
   
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="repository_url" property="repositoryUrl" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="result_status" property="resultStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.godzilla.model.SvnChangeLog" extends="BaseResultMap" >
    <result column="result_info" property="resultInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    result_info
  </sql>
  <insert id="insert" parameterType="cn.godzilla.model.SvnChangeLog" >
    insert into t_g_svn_change_logs (id, user_name, type, 
      repository_url, file_name, create_time, 
      result_status, result_info)
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{repositoryUrl,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{resultStatus,jdbcType=INTEGER}, #{resultInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.godzilla.model.SvnChangeLog" >
    insert into t_g_svn_change_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="repositoryUrl != null" >
        repository_url,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="resultStatus != null" >
        result_status,
      </if>
      <if test="resultInfo != null" >
        result_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="repositoryUrl != null" >
        #{repositoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultStatus != null" >
        #{resultStatus,jdbcType=INTEGER},
      </if>
      <if test="resultInfo != null" >
        #{resultInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <sql id="queryColumns">id, user_name as userName, type, 
      repository_url as repositoryUrl, file_name as fileName, create_time as createTime, 
      result_status as resultStatus, result_info as resultInfo</sql>
  <select id="queryList" resultType="cn.godzilla.model.SvnChangeLog">
  	select <include refid="queryColumns" /> from t_g_svn_change_logs order by id limit 100;
  	
  </select>
  
</mapper>