<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.godzilla.dao.SvnCmdLogMapper" >
  <resultMap id="BaseResultMap" type="cn.godzilla.model.SvnCmdLog" >
    
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="repository_url" property="repositoryUrl" jdbcType="VARCHAR" />
    <result column="commands" property="commands" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.godzilla.model.SvnCmdLog" >
    
    insert into t_g_svn_command_logs (id, user_name, repository_url, 
      commands, create_time, real_name
      )
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{repositoryUrl,jdbcType=VARCHAR}, 
      #{commands,jdbcType=VARCHAR}, now(), #{realName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="cn.godzilla.model.SvnCmdLog" >
    
    insert into t_g_svn_command_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="repositoryUrl != null" >
        repository_url,
      </if>
      <if test="commands != null" >
        commands,
      </if>
        create_time,
      <if test="realName != null" >
        real_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryUrl != null" >
        #{repositoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="commands != null" >
        #{commands,jdbcType=VARCHAR},
      </if>
        now() ,
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <sql id="queryColumns">id, user_name as userName, repository_url as repositoryUrl, 
      commands, create_time as createTime, real_name realName</sql>
      
  <select id="queryList" resultType="cn.godzilla.model.SvnCmdLog">
  	select <include refid="queryColumns" /> from t_g_svn_command_logs order by id limit 100
  
  </select>    
  
</mapper>