<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>哥斯拉后台开发系统</title>
	<link rel="stylesheet" type="text/css" href="css/meta.css">
	<script type="text/javascript" src="https://i.yixin.com/Public/js/jquery-1.8.2.min.js"></script>
</head>
<body>
	<div class="login-win-body">
		<div class="header"><h1>哥斯拉后台开发系统</h1></div>
		<div class="bodyMain-wrap">
			<div class="login-warp">
				<div class="login-box">
					<form class="loginForm" action="" method="POST">
						<div id="UnameMsg" class="accountNum item-div" >
							<s class="userName_icon"></s>
							<input type="text" class="inputBox userName" placeholder="请输入用户名" />
						</div>
						<div id="PwdMsg" class="passWord item-div">
							<s class="UserpassWord_icon"></s>
							<input type="password" class="inputBox UserpassWord" maxlength="16" placeholder="密码"/>
						</div>
						<div class="resetWrap_psd item-div">
							<a href="#" target="_blank" class="resetPassword">密码重置</a>
						</div>
						<div class="submitFieldset item-div">
							<input type="button" id="submit1" class="btn" value="登 录"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>		
	
</body>
<script type="text/javascript">
	$(function(){
		$('.inputBox').focus(function(){
			$(this).parent().addClass('input_onfocus');
		}).blur(function(){
			$(this).parent().removeClass('input_onfocus');
		})
	})
</script>
</html>